button{
    background-color: $color-green;
    color: $color-text;
    border: 1px solid $color-green;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    width: 36px;
    height: 26px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    &:disabled{
        background-color: $color-disabled-bg;
        color:$color-disabled-text;
        cursor: not-allowed;
        border-color: $color-disabled-text;
    }
}