button{
    background-color: $color-green;
    color: $color-text;
    border: 1px solid $color-green;
    cursor: pointer;
    text-align: center;
    width: 36px;
    height: 26px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    &:disabled{
        background-color: $color-green--disable;
        color: $color-text;
        cursor: not-allowed;
        border-color: $color-green--disable;
        opacity: 0.65;
    }
}