.streak-flame{
    background-image: url(/icons/flame--red.png);
    background-size: contain;
    height: 21px;
    width: 21px;
    display: inline-block;
    margin: 0 3px 4px 3px;
    background-repeat: no-repeat;
}